
.home-title {
  margin-top: 1em;
  min-height: 5em;
}

.home-title > h2 {
  font-family: var(--font-family-theme);
}

.home-title-icon {
  font-size: 1.7rem;
  margin-top: -0.9rem;
  cursor: pointer;
}